a.btn-choose2{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.1);
    background: rgba(255,172, 149,.9);
    color: #000;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }

  a.btn-choose3{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(162,255,250, .9);
    color: #000;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }
  
  a.btn-choose4{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(138,0,34,.9);
    color: #fff;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }

  a.btn-choose5{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(255,195,255, .9);
    color: #000;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }
  
  a.btn-choose9{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(255,232,80, .9);
    color: #000;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }
  
  a.btn-choose10{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(34,216,206, .9);
    color: #fff;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }
  
  a.btn-choose11{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(153,167,180, .9);
    color: #fff;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }
  
  a.btn-choose12{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(112,88,163, .9);
    color: #fff;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }
  
  a.btn-choose13{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(0,0,51, .9);
    color: #fff;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }
  
  a.btn-choose14{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(255,105,151, .9);
    color: #fff;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }
  
  a.btn-choose15{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(245,216,146, .9);
    color: #000;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }
  
  a.btn-choose16{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(255,10,133, .9);
    color: #fff;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }
  
  a.btn-choose17{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(177,132,153, .9);
    color: #fff;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }
  
  a.btn-choose18{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(112,189,255, .9);
    color: #fff;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }
  
  a.btn-choose19{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(241,131,0, .9);
    color: #fff;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }
  
  a.btn-choose20{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(195,216,37, .9);
    color: #000;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }
  
  a.btn-choose21{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(154, 13, 124, .9);
    color: #fff;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }
  
  a.btn-choose22{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(104, 169, 207,.9);
    color: #fff;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }
  
  a.btn-choose23{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(255, 205, 51,.9);
    color: #000;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }
  
  a.btn-choose24{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(148, 215, 199,.9);
    color: #fff;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }
  
  a.btn-choose25{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(255, 230, 244,.9);
    color: #000;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }
  
  a.btn-choose26{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(237, 66, 255,.9);
    color: #fff;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }
  
  a.btn-choose27{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(197, 237, 253,.9);
    color: #000;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }
  
  a.btn-choose28{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(199, 79, 48,.9);
    color: #fff;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }
  
  a.btn-choose29{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(253, 245, 230,.9);
    color: #000;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }
  
  a.btn-choose30{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(0, 191, 255,.9);
    color: #fff;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }
  
  a.btn-choose31{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(137, 201, 151,.9);
    color: #000;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }
  
  a.btn-choose32{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(255, 201, 147,.9);
    color: #000;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }

  a.btn-choose33{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(179, 34, 34,.9);
    color: #fff;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }

  a.btn-choose34{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(192, 168, 132,.9);
    color: #fff;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }

  a.btn-choose35{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(250, 192, 217,.9);
    color: #000;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }

  a.btn-choose36{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(255, 250, 150,.9);
    color: #000;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }

  a.btn-choose37{
    display: inline-flex;
    width: 180px;
    height: 70px;
    margin: 30px 30px 20px;
    padding: 15px 10px;
    border: 1px solid rgba(0,0,0,.9);
    background: rgba(42, 61, 32,.9);
    color: #fff;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    transition: .3s;
  }  